
<div class="body">
<h1>{{title}}</h1>
<p>Welcome <span id='usnam'></span> to Room Meeting</p>


<button type="button" class="btn btn-success" onclick="creatRoom()">
    <h5>Create New Meeting</h5>
</button>
<br>
<br>
<h5>Or Joining A Room</h5><br>

<form action='/enter' method="post">
    <div class="form-group">
        <input type="text" class="form-control" name='roomcode' id="roomcode" placeholder="Enter a room code">
    </div>

    <button type="submit" class="btn btn-primary">Enter Room</button>
</form>
</div>

