<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="google-signin-client_id">
    <meta name="google-signin-client_id" content="184293983150-4t91b630845pn6h5sb2m9van1o4lndrd.apps.googleusercontent.com">

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js" defer></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/javascripts/script.js" defer></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>

